<div id="posts">
  <% @post.each do |post| %>
    <div class="post">
      <div class="post_image">
        <%= link_to (image_tag post.image.url(:thumb)), post %>
      </div>
      <div class="post_content">
        <div class="title">
          <h2><%= link_to post.title, post%></h2>
        <div class="data clearfix">
          <p class="username">Shared by <strong><%= post.user.name%></strong></p>
          <p class="buttons">
            <span class="fa fa-thumbs-o-up"> <%= post.get_upvotes.size%></span>
            <span class="fa fa-thumbs-o-down"> <%= post.get_downvotes.size%></span>
          </p>
        </div>
        </div>
      </div>
    </div>
  <%end%>
</div>
