<!-- Page Content -->
 <div class="container">

   <!-- Portfolio Item Row -->
   <div class="row row-show">

     <div class="col-md-8">
       <%= image_tag @post.image.url(:medium)%>
       <hr>
       <% if can? :update, @post %>
         <%= link_to "Delete", @post, method: :delete,
                                   :data => {confirm: "Are you sure?"}, :class=> "btn btn-outline-secondary"%>
         <%= link_to "Edit", edit_post_path(@post), :class=> "btn btn-outline-secondary"%>
       <%end%>
     </div>

     <div class="col-md-4">
       <h3 class="my-3"><%= @post.title %></h3>
       <p class="align-show"><%= @post.description %></p>
       <p>Shared by <strong><%= @post.user.name%></strong></p>
        <% if user_signed_in?%>

         <%= @post.get_upvotes.size%>
         <%= link_to '<i class="fa fa-thumbs-o-up"></i>'.html_safe, like_post_path(@post), method: :get %> &nbsp
         <%= @post.get_downvotes.size%>
         <%= link_to '<i class="fa fa-thumbs-o-down"></i>'.html_safe, dislike_post_path(@post), method: :get %>
        <%else%>
          <h5>
           <%=@post.get_upvotes.size %>&nbsp <i class="fa fa-thumbs-o-up like"></i>
           <%= @post.get_downvotes.size%>&nbsp <i class="fa fa-thumbs-o-down like"></i>
         </h5>
        <%end%>
     </div>

   </div>
   <!-- /.row -->
  <br>
  <!-- Comments -->
  <h2 class="comment_count"><%=coment_count = pluralize(@post.coments.count, "Comments")%></h2><br>
    <%@coments.each do |coment|%>
      <div class="comment">
        <p class="username"><strong><%= coment.user.name%>:</p>
        <p class="content"></strong><%= coment.content%></p>
        <hr>
      </div>
    <%end%>

    <%= render 'coments/form' %>

  <br><br>
   <!-- Related Projects Row -->
   <h3 class="my-4">Also, you may like...</h3>

   <div class="row random">

     <div class="col">
       <%= link_to (image_tag @random_post.image.url(:thumb)), post_path(@random_post)%>
      <p>
       <span class="fa fa-thumbs-o-up"> <%= @post.get_upvotes.size%></span>
       <span class="fa fa-thumbs-o-down"> <%= @post.get_downvotes.size%></span>
     </p>
     </div>

     <div class="col">
      <%= link_to (image_tag @random_post2.image.url(:thumb)), post_path(@random_post)%>
      <p>
       <span class="fa fa-thumbs-o-up"> <%= @post.get_upvotes.size%></span>
       <span class="fa fa-thumbs-o-down"> <%= @post.get_downvotes.size%></span>
     </p>
     </div>

   </div>
   <!-- /.row -->

 </div>
 <!-- /.container -->
